.container{
    height: 50px;
    display:flex;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);    
}

.title{
    position:absolute;
    vertical-align: middle;
    line-height: 1,15;
    font-size: 20px;
    width: 100%;    
    margin-top: 15px;
    text-align:center;
    color: white;
    @media screen and (max-width:755px) {        
        display:none;
    }
}
.navList {
    left: 10px;
    position: relative;
}
.navList ul{
    display: flex;
    color: white;
    list-style: none;
    padding: 1em 0;
}

.navList ul > * + *{
    margin-left: 1rem;
}